## 1 - Analise Exploratoria dos dados, entendendo meus dados.

### Entender a Estrutura dos dados, o que temos?
 
id – Atua como uma chave exclusiva para cada anúncio 
nos dados do aplicativo \
nome - Representa o nome do anúncio \
host_id - Representa o id do usuário que hospedou o anúncio \
host_name – Contém o nome do usuário que hospedou o anúncio \
bairro_group - Contém o nome do bairro onde o anúncio está localizado \
bairro - Contém o nome da área onde o anúncio está localizado \
latitude - Contém a latitude do local \
longitude - Contém a longitude do local \
room_type – Contém o tipo de espaço de cada anúncio \
price - Contém o preço por noite em dólares listado pelo anfitrião \
minimo_noites - Contém o número mínimo de noites que o usuário deve reservar \
numero_de_reviews - Contém o número de comentários dados a cada listagem \
ultima_review - Contém a data da última revisão dada à listagem \
reviews_por_mes - Contém o número de avaliações fornecidas por mês \
calculado_host_listings_count - Contém a quantidade de listagem por host \
disponibilidade_365 - Contém o número de dias em que o anúncio está disponível para reserva \

Agora vamos checar as informações, usando a biblioteca de python "pandas" para manipulção de dados: \
a. Conseguir acessar as informações da nossa Base de dados. \
b. Checar o arquivo e comparar com o que já temos para validar as informações. \
c. Verificar formas de facilitar os proximos passos \
d. Entender totalmente com o que estamos trabalhando

#### a. acessar as informações da nossa Base de dados

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.1 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from pandas) (2025.1)
Requirement already satisfied: pytz>=2020.1 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

source = "https://drive.google.com/uc?id=1e1nrIDl-_9YwQNZwbCpWlqylotFlTpya"
dataBase = pd.read_csv(source)

# Verificar o acesso ao arquivo, e monstrar suas informações
print(dataBase.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48894 entries, 0 to 48893
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             48894 non-null  int64
 1   nome                           48878 non-null  object
 2   host_id                        48894 non-null  int64
 3   host_name                      48873 non-null  object
 4   bairro_group                   48894 non-null  object
 5   bairro                         48894 non-null  object
 6   latitude                       48894 non-null  float64
 7   longitude                      48894 non-null  float64
 8   room_type                      48894 non-null  object
 9   price                          48894 non-null  int64
 10  minimo_noites                  48894 non-null  int64
 11  numero_de_reviews              48894 non-null  int64
 12  ultima_review                  38842 non-null  object
 13  reviews_por_mes                38842 non-null  float64
 14  calculado_host_listings_count  48894 non-null  int64
 15  disponibilidade_365            48894 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None

#### b. validar as informações

In [3]:
# Estrutura dos nossos dados
dataBase.head(3)

,id,nome,host_id,host_name,bairro_group,bairro,latitude,longitude,room_type,price,minimo_noites,numero_de_reviews,ultima_review,reviews_por_mes,calculado_host_listings_count,disponibilidade_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
1,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
2,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194

In [4]:
print("Tipos de quartos possiveis:")
print(dataBase['room_type'].unique())

Tipos de quartos possiveis:
['Entire home/apt' 'Private room' 'Shared room']

In [5]:
print("Regiões da nossa base de dados (bairro_group):")
print((dataBase['bairro_group'].unique()))

Regiões da nossa base de dados (bairro_group):
['Manhattan' 'Brooklyn' 'Queens' 'Staten Island' 'Bronx']

In [6]:
print("Numero de bairros de cada região:")

bairros = 0
i = 1;
for group in dataBase['bairro_group'].unique():
    bairro_group_unique = dataBase[dataBase['bairro_group'] == group]
    bairro_unique = bairro_group_unique['bairro'].unique()
    numero_de_bairros = len(bairro_unique)
    bairros += numero_de_bairros
    print(f"( {i} ) {group} neighborhoods: {numero_de_bairros}")
    i = i + 1
print(f"Numero total de bairros: {bairros}")

Numero de bairros de cada região:
( 1 ) Manhattan neighborhoods: 32
( 2 ) Brooklyn neighborhoods: 47
( 3 ) Queens neighborhoods: 51
( 4 ) Staten Island neighborhoods: 43
( 5 ) Bronx neighborhoods: 48
Numero total de bairros: 221

In [7]:
print("Valores Nulos em Nossa Base de dados:")
print((dataBase.isnull()).sum())

Valores Nulos em Nossa Base de dados:
id                                   0
nome                                16
host_id                              0
host_name                           21
bairro_group                         0
bairro                               0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimo_noites                        0
numero_de_reviews                    0
ultima_review                    10052
reviews_por_mes                  10052
calculado_host_listings_count        0
disponibilidade_365                  0
dtype: int64

In [8]:
dataBase.describe()

,id,host_id,latitude,longitude,price,minimo_noites,numero_de_reviews,reviews_por_mes,calculado_host_listings_count,disponibilidade_365
count,4.889400e+04,4.889400e+04,48894.000000,48894.000000,48894.000000,48894.000000,48894.000000,38842.000000,48894.000000,48894.000000
mean,1.901753e+07,6.762139e+07,40.728951,-73.952169,152.720763,7.030085,23.274758,1.373251,7.144005,112.776169
std,1.098288e+07,7.861118e+07,0.054529,0.046157,240.156625,20.510741,44.550991,1.680453,32.952855,131.618692
min,2.595000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.472371e+06,7.822737e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967743e+07,3.079553e+07,40.723075,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915225e+07,1.074344e+08,40.763117,-73.936273,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

#### c. Verificar formas de facilitar os proximos passos

Agora que temos a visão geral da nossa base de dados, além de informações relevantes como tipos de dados errados, dados incompletos, vamos proseguir para uma analise estatistica inicial, para comparação futura.

Uma das melhores formas de entender outliers, informações incorretas, etc... em nossos dados, é utilizar graficos como Box-Plot (dataBases de pequena a media) ideal para valores extremos em variaveis unicas. \
E Histogramas para a frequencia de destribuição. será que nossos dados sequem a distribuição gaussiana?

No final pensando no Residual plot, para detectar outliers que podem afetar nossa analise de regressão, apontando para residuais altos, e analisar
desvios do modelo.

In [9]:
!pip install matplotlib
!pip install seaborn

Requirement already satisfied: matplotlib in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (3.7.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: contourpy>=1.0.1 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: numpy<2,>=1.20 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib) (1.24.4)
Requirement already satisfied: packaging>=20.0 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0; python_version < "3.10" in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib) (6.4.5)
Requirement already satisfied: cycler>=0.10 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib) (4.55.8)
Requirement already satisfied: pyparsing>=2.3.1 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: six>=1.5 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from importlib-resources>=3.2.0; python_version < "3.10"->matplotlib) (3.20.2)
Requirement already satisfied: seaborn in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (0.13.2)
Requirement already satisfied: pandas>=1.2 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from seaborn) (2.0.3)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from seaborn) (1.24.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from seaborn) (3.7.5)
Requirement already satisfied: tzdata>=2022.1 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.1.1)
Requirement already satisfied: fonttools>=4.22.0 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.8)
Requirement already satisfied: pillow>=6.2.0 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: packaging>=20.0 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: cycler>=0.10 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: pyparsing>=2.3.1 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: importlib-resources>=3.2.0; python_version < "3.10" in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.4.5)
Requirement already satisfied: six>=1.5 in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas>=1.2->seaborn) (1.17.0)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /nfs/homes/sueno-te/desafio/data/lib/python3.8/site-packages (from importlib-resources>=3.2.0; python_version < "3.10"->matplotlib!=3.6.1,>=3.4->seaborn) (3.20.2)

##### Funções

In [10]:
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [11]:
def save_figure(nome_arquivo, pasta, figure):
    if not os.path.exists(pasta):
        os.makedirs(pasta)
    caminho_arquivo = os.path.join(pasta, nome_arquivo)
    figure.savefig(caminho_arquivo)
    plt.close()

def plot_boxplot(nome_arquivo, pasta, titulo, coluna, dataBase, legenda_x):
    fig, ax = plt.subplots(figsize=(12, 8))
    sns.boxplot(x=dataBase[coluna], color='blue', ax=ax)
    ax.set_title(titulo, fontsize=15, style='italic', pad=20)
    ax.set_xlabel(legenda_x, fontsize=10)
    plt.show()
    save_figure(nome_arquivo, pasta, fig)

def plot_histogram(nome_arquivo, pasta, titulo, coluna, dataBase, legenda_x):
    fig, ax = plt.subplots(figsize=(12, 8))
    max_value_x = dataBase[coluna].max() * 1.1
    sns.histplot(dataBase[coluna], bins=75, kde=True, color='green', ax=ax)
    sns.rugplot(dataBase[coluna], color='red', height=0.01, ax=ax)
    ax.set_title(titulo, fontsize=15, style='italic', pad=20)
    ax.set_xlabel(legenda_x, fontsize=10)
    ax.set_ylabel('Frequencia', fontsize=10)
    ax.set_xlim(0, max_value_x)
    plt.show()
    save_figure(nome_arquivo, pasta, fig)
    
def plot_heatmap(nome_arquivo, pasta, titulo, dataBase, valores, indices, colunas, media="Mediana"):
    fig, ax = plt.subplots(figsize=(12, 8))
    pivot_data = dataBase.pivot_table(values=valores, index=indices, columns=colunas)
    sns.heatmap(pivot_data, annot=True, cmap='YlOrBr', fmt='.0f', 
                linewidths=.5, cbar_kws={'label': media}, ax=ax)
    ax.set_title(titulo)
    ax.set_xlabel(colunas)
    ax.set_ylabel(indices)
    plt.show()
    save_figure(nome_arquivo, pasta, fig)

def plot_scatter(nome_arquivo, pasta, titulo, dataBase, x_col, y_col, hue_col,
                 legenda_x='X', legenda_y='Y', figsize=(12, 8)):
    fig, ax = plt.subplots(figsize=figsize)
    sns.scatterplot(data=dataBase, x=x_col, y=y_col, hue=hue_col, ax=ax, palette='viridis')
    ax.set_title(titulo, fontsize=15, style='italic', pad=20)
    ax.set_xlabel(legenda_x, fontsize=12)
    ax.set_ylabel(legenda_y, fontsize=12)
    if hue_col:
        ax.legend(title=hue_col, bbox_to_anchor=(1.03, 1), loc='upper left')
    plt.show()
    save_figure(nome_arquivo, pasta, fig)

#### Graficos HISTOGRAMAS_EDA_P1

In [ ]:
plot_histogram(
    nome_arquivo='histograma_night_EDA_P1.png',
    pasta = 'EDA_P1',
    titulo='Distribuição de noites minimas + kde',
    coluna='minimo_noites',
    dataBase=dataBase, 
    legenda_x='Noites Minimas'
)

plot_histogram(
    nome_arquivo='histograma_price_EDA_P1.png',
    pasta = 'EDA_P1',
    titulo='Distribuição de preços + kde',
    coluna='price',
    dataBase=dataBase, 
    legenda_x='Preço'
)

plot_histogram(
    nome_arquivo='histograma_reviews_EDA_P1.png',
    pasta = 'EDA_P1',
    titulo='Distribuição de Reviews + kde',
    coluna='numero_de_reviews',
    dataBase=dataBase, 
    legenda_x='Reviews'
)

plot_histogram(
    nome_arquivo='histograma_reviewPorMes_EDA_P1.png',
    pasta = 'EDA_P1',
    titulo='Distribuição Reviews por mes + kde',
    coluna='reviews_por_mes',
    dataBase=dataBase, 
    legenda_x='Reviews Por Mes'
)

plot_histogram(
    nome_arquivo='histograma_listings_EDA_P1.png',
    pasta = 'EDA_P1',
    titulo='Distribuição Listagens + kde',
    coluna='calculado_host_listings_count',
    dataBase=dataBase, 
    legenda_x='Numero de Listagens'
)

plot_histogram(
    nome_arquivo='histograma_disponibilidade_EDA_P1.png',
    pasta = 'EDA_P1',
    titulo='Distribuição Disponibilidade + kde',
    coluna='disponibilidade_365',
    dataBase=dataBase, 
    legenda_x='Disponibilidade'
)

#### Graficos De vela  EDA_P1

In [ ]:
plot_boxplot(
    nome_arquivo='boxplot_night_EDA_P1.png',
    pasta = 'EDA_P1',
    titulo='Variabilidade em vela de noites minimas',
    coluna='minimo_noites',
    dataBase=dataBase, 
    legenda_x='Noites Minimas'
)

plot_boxplot(
    nome_arquivo='boxplot_price_EDA_P1.png',
    pasta = 'EDA_P1',
    titulo='Variabilidade em vela de preços',
    coluna='price',
    dataBase=dataBase, 
    legenda_x='Preço'
)

plot_boxplot(
    nome_arquivo='boxplot_reviews_EDA_P1.png',
    pasta = 'EDA_P1',
    titulo='Variabilidade em vela de Reviews',
    coluna='numero_de_reviews',
    dataBase=dataBase, 
    legenda_x='Reviews'
)

plot_boxplot(
    nome_arquivo='boxplot_reviewPorMes_EDA_P1.png',
    pasta = 'EDA_P1',
    titulo='Variabilidade em vela de Reviews por mes',
    coluna='reviews_por_mes',
    dataBase=dataBase, 
    legenda_x='Reviews Por Mes'
)

plot_boxplot(
    nome_arquivo='boxplot_listings_EDA_P1.png',
    pasta = 'EDA_P1',
    titulo='Variabilidade em vela de Listagens',
    coluna='calculado_host_listings_count',
    dataBase=dataBase, 
    legenda_x='Numero de Listagens'
)

plot_boxplot(
    nome_arquivo='boxplot_disponibilidade_EDA_P1.png',
    pasta = 'EDA_P1',
    titulo='Variabilidade em vela de Disponibilidade',
    coluna='disponibilidade_365',
    dataBase=dataBase, 
    legenda_x='Disponibilidade'
)

#### Grafico de Calor

In [ ]:
# Separar por bairros
bairros = dataBase.groupby('bairro_group')

# Fazer a mediana dos dados, para reduzir o efeito dos outliers
mediana_por_bairro = bairros.agg({
    'price': 'median',
    'minimo_noites': 'median',
    'numero_de_reviews': 'median',
    'reviews_por_mes': 'median',
    'disponibilidade_365': 'median',
    'calculado_host_listings_count': 'median',
})

# Coloca os bairros em uma coluna 
mediana_por_bairro = mediana_por_bairro.reset_index()

# Converter em formato longo para o heatmap (colunas viram linhas, para preservar bairros, nomes, mediana)
dados_longos = mediana_por_bairro.melt(
    id_vars=['bairro_group'],
    var_name='metrica',
    value_name='mediana'
)

plot_heatmap(
    nome_arquivo='heatmap_medianas_EDA_P1.png', 
    pasta = 'EDA_P1',
    titulo='Comparação de Medidas Centrais por Região',
    dataBase=dados_longos,
    valores='mediana',
    indices='bairro_group',
    colunas='metrica',
    media="Valor Mediano"
)

# Filtrar areas para analise
metricas_principais = ['price', 'minimo_noites', 'numero_de_reviews', 'disponibilidade_365']
dados_filtrados = dados_longos[dados_longos['metrica'].isin(metricas_principais)]

# Plotar heatmap  com areas especificas
plot_heatmap(
    nome_arquivo='heatmap_medianas_selected_EDA_P1.png', 
    pasta = 'EDA_P1',
    titulo='Principais Métricas de Aluguel por Região',
    dataBase=dados_filtrados,
    valores='mediana',
    indices='bairro_group',
    colunas='metrica',
    media="Valor Central"
)

In [ ]:
plot_scatter(
    nome_arquivo='scatterplot_reviews_price_EDA_P1.png',
    pasta = 'EDA_P1',
    titulo='Preço vs. Número de Reviews por Região',
    dataBase=dataBase,
    x_col='numero_de_reviews',
    y_col='price',
    hue_col='bairro_group',
    legenda_x='Número de Reviews',
    legenda_y='Preço (USD)',
    figsize=(12, 8)
)

## insights



Então:
O que conseguimos observar com clareza é a influencia que os valores extremos estão tendo em nossa analise inicial \
dificultando um entendimento geral, e a necessidade da limpeza e tratamento dos dados antes de proseguir.

Temos 5 Regiões: 'Manhattan' 'Brooklyn' 'Queens' 'Staten Island' 'Bronx' \
Numero de bairros de cada região: \
( 1 ) Queens neighborhoods: 51 \
( 2 ) Bronx neighborhoods: 48 \
( 3 ) Brooklyn neighborhoods: 47 \
( 4 ) Staten Island neighborhoods: 43 \
( 5 ) Manhattan neighborhoods: 32 \
Numero total de bairros: 221 


Também nós traz passos que devemos tomar a frente, principalmente em review. price, noites_minimas
- *ultima_review* \
Está com um tipo ineficiente para tempo, um Object \
Ou seja, provavelmente em formato string, sendo ideal a troca para operações mais eficientes. como para o tipo datetime.
- *reviews_por_mes* \
Apresenta o tipo float, sendo que não pode existir meio review, deverá ser convertido em uma Integer.
- *host_name* \
  Valores "NaN". Que devem ser tratados para preservar a integridade da base de dados.
- *nome* \
  Valores "NaN". ue devem ser tratados para preservar a integridade da base de dados.
- *price* \
  Valor Minimo zero, o que indica um erro, ou estrategia para ganhar novos reviews. \
  Valor Maximo muito além do nosso desvio padrão.pk
- *minimo_noites* \
  Valor Maximo muito além do nosso desvio padrão.
- *preçoVsNumero_de_reviews* \
   Preçõs muito altos e sem reviews, podem demonstrar erros humanos de novos listings
### hipótese review
A falta de dados do tipo /*ultima review*/ e /*review_por_mes*/ deve ser devido a 
novos usuarios, caso /*numero_de_reviews*/ seja nulo \
Temos um novo User, Afinal:
- *ultima review* / *review_por_mes* / *numero_de_reviews* \

Aparentemente são correlacionados e fortemente dependendes um dos outros, também trazem uma possibilidade de uma analise temporal \

## 2 - Limpeza e Tratamento

### Limpeza de dados

Passos

- A. - Remoção de duplicadas
- B. - Conversão de dados
- C. - Imputação (Tratamento de valores ausentes)
- D. - Adaptação para analise melhor
- E. - Outliers

In [ ]:
import numpy as np

### A. Remoção de duplicadas

In [ ]:
nbr_id_duplicados = dataBase['id'].duplicated().sum()
nbr_host_id_duplicados = dataBase['host_id'].duplicated().sum()
print(f'Id duplicados = {nbr_id_duplicados}')
print(f'Host Id duplicados = {nbr_host_id_duplicados}')

In [ ]:
# dados duplicados não contando a primeira ocorrencia
id_duplicados = dataBase[dataBase.duplicated(subset=['id'])]
host_id_duplicados = dataBase[dataBase.duplicated(subset=['host_id'])]
ids_unicos_duplicados = id_duplicados['id'].nunique()
host_ids_unicos_duplicados = host_id_duplicados['host_id'].nunique()
total = len(dataBase)

print(f"Total: {total}")
if (ids_unicos_duplicados):
    print(f"> Error - (Ids) Numero de hosts unicos que estão duplicados com mais de um listing: {ids_unicos_duplicados}")
else:
    print("> OK - (Ids) Nenhuma copia unica encontrada.")

if (host_ids_unicos_duplicados):
    print(f"> Error - (host id) Numero de ids unicos com mais de um listing: {host_ids_unicos_duplicados}")
else:
    print("> Ok - (host id) Nenhuma copia unica encontrada.")

if (ids_unicos_duplicados > 0 and total > 0):
  percentual_ids_duplicados = (ids_unicos_duplicados / total) * 100
  print(f"Percentual de IDs duplicados: {percentual_ids_duplicados:.2f}%")

if (host_ids_unicos_duplicados > 0 and total > 0):
  percentual_host_ids_duplicados = (host_ids_unicos_duplicados / total) * 100
  print(f"Percentual de Host IDs duplicados: {percentual_host_ids_duplicados:.2f}%")

#### a.1 - Grafico de relação percentual entre hosts duplicados e total

In [ ]:
numero_duplicatas= len(host_id_duplicados)
contagens = [total, numero_duplicatas, host_ids_unicos_duplicados, ids_unicos_duplicados]
categorias = ['Total', 'Host IDs Duplicados', 'Host IDs unicos duplicados', 'IDs Duplicados']

percentuais = [100.0, (numero_duplicatas / total) * 100, (host_ids_unicos_duplicados / total) * 100, (ids_unicos_duplicados / total) * 100]

(fig, ax) = plt.subplots(figsize=(12, 8))
barras = ax.bar(categorias, contagens, color=['blue', 'red', 'red'])

ax.set_title('Porcentagem de IDs e Host IDs Duplicados vs Total', pad=20)
ax.set_ylabel('Quantidade')
ax.set_xlabel('Categorias')

altura_max_y = max(contagens);
altura_graf = altura_max_y * 1.20;

for barra, percentual in zip(barras, percentuais):
    altura = barra.get_height()
    ax.text(
        barra.get_x() + barra.get_width() / 2,
        altura + 0.02 * altura_max_y,
        f'{int(altura)}\n({percentual:.1f}%)',
        ha='center',
        va='bottom'
    )
    
ax.set_ylim(0, altura_graf)
plt.show()
save_figure("relacao_percentual_duplicatas_EDA_P1", 'EDA_P1', fig)

Muitas informações duplicadas, contudo, Host_ids duplicados podem indicar multiplos anuncios. então uma relação direta em
numero de Ids duplicados, listing_count e host_name, devemos checar o numero de ids, com os ids listings. para ver se há erros de fato.

#### a.2 - Função de verificação Host Name + Listing Count + Numero de anuncios

In [ ]:
def check_id_count_name(dataBase):
    numero_real = dataBase.groupby('host_id').size().reset_index(name='numero_real')
    numero_esperado = dataBase.groupby('host_id')['calculado_host_listings_count'].max().reset_index(name='expected_count')
    tabela_real_esperado = pd.merge(numero_real, numero_esperado, on='host_id', how='inner')
    
    inconsistencais = tabela_real_esperado[tabela_real_esperado['numero_real'] != tabela_real_esperado['expected_count']]
    
    if not inconsistencais.empty:
        print("\nError - Número de listagens diferente das cópias de mesmo host_id:")
        print(inconsistencais)
    else:
        print("\nOK - Nenhum numero real ")

    consistencia_nomes = dataBase.groupby('host_id')['host_name'].nunique().reset_index(name='unique_names')
    error_nome = consistencia_nomes[consistencia_nomes['unique_names'] > 1]
    
    if not error_nome.empty:
        print("\nError - Listings Com Erros")
        print(error_nome)
    else:
        print("\nOK - Nenhum nome diferente com mesmo id.")

In [ ]:
check_id_count_name(dataBase)

#### a.3 - Fix Error host(2787)

In [ ]:
dataBase.loc[dataBase['host_id'] == 2787, 'calculado_host_listings_count'] = 5
check_id_count_name(dataBase)

### B. Conversão de dados

#### b.0 Data Review

In [ ]:
print("Tipos de dados: \n")
print(dataBase.dtypes)

In [ ]:
print("Valores Nulos")
print((dataBase.isnull()).sum())

#### b.1 - Check influencia de dados

In [ ]:
# porcentagem de valores não presentes na base de dados (review).
total = ultima_review = reviews_por_mes = 38842
numero_de_reviews = 48894
missing_percentual = (100 - (reviews_por_mes / numero_de_reviews) * 100)
print(f"Porcentagem de valores Nulos representa {missing_percentual:.1f}% de {numero_de_reviews}")

#### b.2 -> Função integridade BaseDeDados - Reviews 
Regras:
- 1. Se numero de reviews é zero
       - reviews_por_mes deve ser 0
       - ultima_review deve ser Nulo
- 2. reviews_por_mes nunca pode ser maior que o numero de reviews
- 3. Ambos campos devem ser maior ou igual a zero 0

In [ ]:
def check_review_reviewMensal_nbrReview():
    # 1
    erro_review_zero = ((dataBase['numero_de_reviews'] == 0) & ((dataBase['reviews_por_mes'] != 0) | dataBase['ultima_review'].notna()))
    # 2
    erro_review_mensal = dataBase['reviews_por_mes'] > dataBase['numero_de_reviews']
    # 3
    erro_valores_negativos = (dataBase['numero_de_reviews'] < 0) | (dataBase['reviews_por_mes'] < 0)
    
    mascara_de_regras = (erro_review_zero | erro_review_mensal | erro_valores_negativos)
    casos_errados = dataBase[mascara_de_regras]
    
    if not casos_errados.empty:
        print('Error - Dados invalidos em reviews!')
        print(f"Casos inválidos encontrados: {len(casos_errados)}")
        print(casos_errados)
    else:
        print('Ok - Dados Validos!')

#### b.3 Conversão
- 1 - (Ultima_review)  Object -> dateTime(Y-%m-%d)
- 2 - (Reviews_por_mes) Float64 -> int64

In [ ]:
# converter a string object para date_time no formato especifico %Y-%m-%d, se não for possivel irá virar NaT(Not a time, "aka" Null)
dataBase['ultima_review'] = pd.to_datetime(
    dataBase['ultima_review'],
    errors='coerce' 
)
# vamos preencher valores Nulos por zero, converter float para int, sempre arredondando para cima
dataBase['reviews_por_mes'] = (
    dataBase['reviews_por_mes']
    .fillna(0) 
    .apply(np.ceil)
    .astype(int)
)

In [ ]:
dataBase['ultima_review'].describe()

##### Verificação Conversão (b.3) e intregridade de nossa base de dados

In [ ]:
check_review_reviewMensal_nbrReview()

### C.  Imputação

#### C.0 Review

In [ ]:
dataBase.describe()

In [ ]:
print("Valores Nulos:")
print((dataBase.isnull()).sum())

#### C.1 Preeenchimento Dados Faltantes -> host_name, nome

In [ ]:
nbr_sem_host = dataBase['host_name'].isnull().sum()
nbr_sem_nome = dataBase['nome'].isnull().sum()
total = len(dataBase)

percentual_sem_host_name = (nbr_sem_host / total) * 100
percentual_sem_nome = (nbr_sem_nome / total) * 100

print(f"Percentual de Host e Host_names nulos em comparação ao total:")
print(f"- host_name: {percentual_sem_host_name:.2f}% ({nbr_sem_host})")
print(f"- nome: {percentual_sem_nome:.2f}% ({nbr_sem_nome})")

In [ ]:
# Preencher dados faltantes
dataBase['host_name'] = dataBase['host_name'].fillna('unknown_hostName')
dataBase['nome'] = dataBase['nome'].fillna('unknown_name')

In [ ]:
# confirmar a conversão
print("Numero de Host e Host_names unknown:  ")
print(f'unknown_hostName = {len(dataBase.loc[dataBase["host_name"] == "unknown_hostName"])}')
print(f'unknown_host = {len(dataBase.loc[dataBase["nome"] == "unknown_name"])}')

#### C.2 Preço

In [ ]:
# 0 para mediana da região (reduzir influencia outliers)
mediana_regiao = dataBase[dataBase['price'] > 0].groupby('bairro_group')['price'].median()
print(mediana_regiao)

for regiao, preco_medio in mediana_regiao.items():
    mascara_verdade = (dataBase['bairro_group'] == regiao) & (dataBase['price'] <= 0)
    dataBase.loc[mascara_verdade, 'price'] = preco_medio

### D. - Adaptação da Base de dados

#### E.1 - Novos Usurarios

In [ ]:
def check_regras_new_user():
    return (
    (dataBase['calculado_host_listings_count'] == 1)
    & (dataBase['numero_de_reviews'] == 0)
    & (dataBase['reviews_por_mes'] == 0)
    & dataBase['ultima_review'].isna()
)

In [ ]:
# Create boolean column for new listings (host with only 1 listing AND no reviews)
# regras new user -> max listing = 1, sem reviews.
dataBase['new'] = check_regras_new_user()
print("dados novos users:")
print(dataBase['new'].describe())
dataBase.head(1)

Com isso podemos ter certeza que nossa nova coluna está implementada de forma correta, e não temos valores que fujam dessa
logica.

#### E.2 - Listings Indisponiveis

In [ ]:
# check violações
violacoes_noites_minimas = dataBase[dataBase['minimo_noites'] > dataBase['disponibilidade_365']]

print(f'Violacoes_noites_minimas: {len(violacoes_noites_minimas)}')

##### a.2 Plot da relação valores nulos

In [ ]:
total = len(dataBase)
noites_nulas = len(dataBase[dataBase['minimo_noites'] > dataBase['disponibilidade_365']]) 
disponivel = len(dataBase[dataBase['minimo_noites'] < dataBase['disponibilidade_365']])
# Preparação dos dados para o gráfico
categorias = ['Total','Disponiveis', 'Indisponiveis']
contagens = [total, disponivel, noites_nulas]
percentuais = [
    100.0, 
    (disponivel / total) * 100,
    (noites_nulas / total) * 100, 
]

altura_max = max(contagens) * 1.25

(fig, ax) = plt.subplots(figsize=(12, 8))
barras = ax.bar(categorias, contagens, color=['blue','green','red'])

ax.set_title('Proporção da Disponibilidade', pad=20)
ax.set_ylabel('Disponibilidade')
ax.set_xlabel('Categorias')
ax.set_ylim(0, altura_max)


for barra, percentual in zip(barras, percentuais):
    altura = barra.get_height()
    ax.text(
        barra.get_x() + barra.get_width()/2,
        altura + 0.002 * altura_max ,
        f'{altura:,}\n({percentual:.2f}%)',
        ha='center',
        va='bottom',
        fontsize=12
    )

plt.show()
save_figure('percentual_NoitesNulas_PriceNulo_EDA_P1', 'EDA_P1', fig)

In [ ]:
# passo para manter a consistencia da logica, mas que pode levar a bias (indis == low min noites) testes...
#dataBase.loc[dataBase['indisponivel'], 'minimo_noites'] = dataBase['disponibilidade_365']
dataBase['indisponivel'] = (dataBase['minimo_noites'] > dataBase['disponibilidade_365'])

In [ ]:
dataBase['indisponivel'].describe()

In [ ]:
dataBase['minimo_noites'] = dataBase['minimo_noites'].clip(upper=365)
dataBase['disponibilidade_365'] = dataBase['disponibilidade_365'].clip(upper=365)

In [ ]:
dataBase.info()

### Insights - data_cleaning

In [ ]:
dataBase.to_csv('base_depois_da_adaptação_EDA_P1.csv')

In [ ]:
dataBase.head(1)

Com a limpeza, ficou claro o grupamento das caracteristicas principais entre as variaveis.

Temos alguns grupos para analisar e definir como contribuem para o preço final.
- Dados de indentificação -> Id, Host_ID e Host_Name \
  Que não aparentam/devem afetar o preço 
- Dados de Localização -> bairro_group,  bairro, Latitute, Longintute \
  Com foco no bairro_group e bairro, para diminuir a complexidade do projeto nesse primeiro momento. \
  Caso o tempo permita Latitute, Longitude (maior complexidade)
- Caracteristicas da Propriedade -> Nome e Room Type \
  Importante para definição do nosso modelo, sendo Room Type prioridade e Nome em decorrencia, caso o tempo permita. (maior complexidade)
- Dados de Disponibilidade -> Minimo_noites e Disponibilidade_365 \
  Importantes para avaliar 
- Dados de locação -> Numero_de_reviews, reviews_por_mes e ultimo review. \
  Informações sobre a requisição do listing
  
  Sendo interresante explorar:
  Preço vs "cada um dos 5 grupos de caracteristicas principais".

## 3 - EDA -Analise exploratoria de dados

### A.0 - Optional Outliers Clean!

In [ ]:
def clip_values(x):
    if x < lower_quantile:
        return lower_quantile
    elif x > upper_quantile:
        return upper_quantile
    return x

def clean_outliers_base(dataBase, metodo, column):
    df = dataBase.copy()
    
    if metodo == 1:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        print(f'Lower Bound: {lower_bound}, Upper Bound: {upper_bound}')
        
        df_filtered = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
        print('IQR!')
        return df_filtered

    elif metodo == 2:
        lower_quantile = df[column].quantile(0.05)
        upper_quantile = df[column].quantile(0.95)

        df[column] = df[column].apply(clip_values)

        
        print("Winsor!!")
        return df
        
    else:
        print("1 - IQR. / 2 -Winsor.")
        return df

In [ ]:
Clean_Outliers = True
# 1 = IQR, 2 = Winsor
metodos = 1

if (Clean_Outliers == True):
    clean_dataBase = clean_outliers_base(dataBase, metodos, 'price')
clean_dataBase.describe()
clean_dataBase.to_csv('cleaned_EDA_P2.csv')

### A.1 - Perguntas